.mainSection {
    background: url("../../assets/homeSection/mainBanner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
    padding: 10px 20px;
    position: relative;
    height: calc(100vh + 24vw);
}

.mainBannerHeading {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 90%;
}

.mainBannerHeading h2 {
    font-size: 13.33333vw;
    font-weight: 500;
    line-height: 0.99em;
    letter-spacing: -0.04em;
    line-height: 0.85em;
    color: #fff;
    text-transform: uppercase;
}

.mainBannerHeading h5 {
    font-size: 2vw;
    font-weight: 400;
    line-height: 0.99em;
    letter-spacing: -0.04em;
    color: #fff;
}

.BtnLink {
    font-size: 1.53333vw;
    font-weight: 400;
    line-height: 0.99em;
    letter-spacing: -0.04em;
}
.home-section2{
    font-size: 4rem;
}

.AdventuresToGetYouInspired{
    font-size: 6.66667vw;
    font-weight: 500;
    line-height: .99em;
    letter-spacing: -.04em;
    color: #000;
  }

  .Img1 img {
    height: 100%;
    max-height: 33.33333rem;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    position:relative;
    transition: 1s;
}

.Img2 img{
    height: 100%;
    max-width: calc(100% - 13.4rem);
    max-height: 44.33333rem;
    object-fit: cover;
    margin-bottom: 20px;
    position:relative;
    transition: 1s;
}

.Img3 img{
    max-width: calc(100% - 13.4rem);
    height: 100%;
    max-height: 44.33333rem;
    object-fit: cover;
    margin: auto;
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
    position:relative;
    transition: 1s;
}

.Img4 img{
    height: 100%;
    max-height: 33.33333rem;
    min-height: 33.33333rem;
    object-fit: cover;
    margin: auto;
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
    position:relative;
    transition: 1s;
}

.Img1 h3,
.Img2 h3,
.Img4 h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 3.33333rem;
    line-height: .99em;
    letter-spacing: -.04em;
    color: #fff;
    transition: 1s;
}

.Img3 h3{
    position: absolute;
    bottom: 20px;
    right: 60px;
    font-size: 3.33333rem;
    line-height: .99em;
    letter-spacing: -.04em;
    color: #fff;
    transition: 1s;
}

.Img1 h3 span,
.Img2 h3 span,
.Img3 h3 span,
.Img4 h3 span{
    font-size: 1.46667rem;
    transition: 1s;
}

.Img1 svg,
.Img2 svg,
.Img3 svg,
.Img4 svg {
    position: absolute;
    right: 0;
    bottom: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0;
    transition: 1s;
}

.Img1:hover svg,
.Img3:hover svg,
.Img4:hover svg{
    transition: 1s;
    right: 20px;
    opacity: 1;
}

.Img1:hover h3 span,
.Img2:hover h3 span,
.Img3:hover h3 span,
.Img4:hover h3 span{
    font-size: 0rem;
    opacity: 0;
    transition: 1s;
}

.Img1:hover img,
.Img2:hover img,
.Img3:hover img,
.Img4:hover img {
    filter: brightness(0.7);
}

.Img2:hover svg{
    transition: 1s;
    right: 30%;
    opacity: 1;
}

.NowItYourTurnMainHeading h2 {
    font-size: 6.66667rem;
    font-weight: 500;
    line-height: .99em;
    letter-spacing: -.04em;
}

.NowItYourTurn {
    background: #ededed;
    padding: 50px 30px;
}

.scrollVertically {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-top: 70px;
}

.scrollVertically button{
    position: relative;
    min-height: 45.33333rem;
    min-width: 36rem;
    transition: 1s;
}

.scrollVertically img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
}

.scrollVertically h2 {
    color: #fff;
    font-size: 2.33333rem;
    font-weight: 500;
    line-height: .99em;
    letter-spacing: -.04em;
    text-align: left;
    position: absolute;
    top: 60px;
    left: 50px;
}

.scrollVertically p {
    color: #fff;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-size: 1.06667rem;
    font-weight: 500;
    line-height: .99em;
    letter-spacing: -.04em;
}

.scrollVertically button:nth-child(even) {
    min-height: 36.73333rem;
    max-height: 36.73333rem;
    bottom: -137px;
}

.scrollVertically button:hover img {
    transform: scale(1.02);
    transition: 1s;
}

.images-in-section4 img {
    height: 100%;
    min-height: 650px;
    object-fit: cover;
  }
  .images-in-section4 h2 {
    font-size: 3.33333rem;
    text-align: center;
    font-weight: 700;
    right: 0;
    left: 0;
  }
  .images-in-section4 p{
    font-size: 1.06667rem;
    font-weight: 500;
    line-height: .99em;
    letter-spacing: -.04em;
    text-align: center;
  }

  .section4Card01{
        margin-top: 150px;
  }

  .section4Card03{
    margin-top: 300px;
  }

/* responsive */

@media only screen and (min-width: 320px) and (max-width: 1024px) {

    a.navbar-brand img{
        max-width: 65px;
        max-height: 65px;
    }

    .mainBannerHeading {
        top: 55%;
    }
    .mainBannerHeading h2 {
        font-size: 80px;
        font-weight: 600;
        padding-left: 0 !important;
        display: block;
        margin-left: -0.11em;
        margin-bottom: -0.05em;
        padding: 0.01em;
        word-break: break-all;
        line-height: 1;
    }

    .mainBannerHeading h2:first-child{
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    .mainBannerHeading h5{
        font-size: 21px;
    }

    .BtnLink{
        font-size: 16px;
    }

    .AdventuresToGetYouInspired{
        font-size: 36px;
    }

    .Img1 img,
    .Img2 img,
    .Img3 img,
    .Img4 img{
        max-width: 100%;
        max-height: 100%;
        min-height: 350px;
    }

    .Img1 h3, .Img2 h3, .Img4 h3, .Img3 h3{
        font-size: 2.1rem;
    }

    .Img3 h3{
        left: 20px;
    }

    .NowItYourTurnMainHeading h2 {
        font-size: 1.2rem;
    }

    .scrollVertically button {
        position: relative;
        min-height: 15.33333rem;
        max-height: 15.33333rem;
        min-width: 17rem;
        transition: 1s;
    }

    .scrollVertically h2{
        left: 20px;
    }

    .scrollVertically button:nth-child(even){
        min-height: 12.73333rem;
        max-height: 12.73333rem; 
        bottom: -40px; 
    }

    .scrollVertically p {
        left: 20px;
        font-size: 1rem;
    }

    .section4Card01,
    .section4Card02,
    .section4Card03 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .NowItYourTurnMainHeading{
        margin: 20px auto !important;
    }

    .NowItYourTurn{
        padding: 50px 10px;
    }

    .Img2:hover svg{
        right: 20px;
    }

    .images-in-section4 {
        margin-top: 0 !important;
    }

    .images-in-section4 h2{
        font-size: 2.33333rem;
    }

    .video01 iframe {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .mainBannerHeading h2{
        font-size: 60px;
    }

}

@media screen and (max-width: 991px){
    .mainSection{
        background-attachment: scroll;
        height: 100vh;
    }
}


/* End */