@font-face {
  font-family: "Helvetica Now Text ";
  src: local("Helvetica Now Text  Regular"), local("Helvetica-Now-Text--Regular"), url("../src/assets/fonts/HelveticaNowText-Regular.woff2") format("woff2"), url("../src/assets/fonts/HelveticaNowText-Regular.woff") format("woff"), url("../src/assets/fonts/HelveticaNowText-Regular.ttf") format("truetype");
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  font-family: HelveticaNowText,Helvetica,Arial,sans-serif;
  scroll-behavior: smooth;
}

.btn-link{
  text-decoration: none !important;
}
